

@media screen and (max-width: 480px){
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .name-link-font {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    color: #212d50 !important;
    /* line-height: 40px !important; */
    font-size: 50px !important;
    letter-spacing: 5px !important;
    /* margin-top: 10% !important; */
    /* margin-left: 0% !important; */
    cursor: pointer !important;
}

  .intro-font{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
    color: #212d50 !important;
    font-size: 25px !important;
    /* line-height: 45px !important; */
    letter-spacing: 3px !important;
    margin-top: 0;
  
  }
  
  .intro-paragraph-font{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px !important;
    font-weight: bold;
    color: #212d50 !important;
    letter-spacing: 3px !important;
    line-height: 0px !important;
    margin-top: 0;
  }


  .new-menu {
    width: 100% !important;
     height: 15% !important;
     background-color: white !important;
     border-bottom: 0.1em solid lightgray !important;
     margin: 0 !important;
     padding: 0 !important;
     position: absolute;
}

   /* .menu-nav{
     height: 100% !important;
     padding: 0 !important;
     margin: 0 !important;
     display: grid !important; 
     grid-template-columns: repeat(9, 1fr) !important;
     grid-auto-rows: 50% !important; 

     }
   
   
   ul{
     width: 100% !important;
     
     color: #212d50 !important;
   }
   
   ul, li {
     list-style-type: none !important;
     
   }
   
  

   .name{
     height: 100% !important;
     grid-column: 1/ 10 !important;
     grid-row: 1 !important;

   }

   .projects-link{
     height: 100% !important;
     grid-column: 2/ 3 !important;
   }

   .about-contact{
     height: 100% !important;
     grid-column: 4/ 5 !important;
   }

   .contact{
     height: 100% !important;
     grid-column: 7/ 9 !important;
    
   }
   
   .name-text{
     color: #212d50 !important;
     margin-left: 31% !important;
     margin-top: 3% !important;
    
  } */
/* 
   .project-text{
    margin: 0 0 0 0 !important;
    
   }
   .about-text{
    margin: 0 0 0 50% !important;
    
   }
   .contact-text{
    margin: 0 0 0 0 !important;
    
   }
   
   .projects-font{
     line-height: 40px;
     font-size: 13px;
     font-weight: 400;
     cursor: pointer;
     letter-spacing: 3px;
   
   }
   .about-font{
     line-height: 40px;
     font-size: 13px;
     font-weight: 400;
     cursor: pointer;
     letter-spacing: 3px;
   }
   .contact-font{
     line-height: 40px;
     font-size: 13px;
     font-weight: 400;
     cursor: pointer;
     letter-spacing: 3px;
   } */


   .menu-nav{
     height: 100% !important;
     padding: 0 !important;
     margin: 0 !important;
     display: grid !important; 
     grid-template-columns: repeat(9, 1fr) !important;
     grid-auto-rows: 50% !important; 

     }
   
   
   ul{
     width: 100% !important;
     
     color: #212d50 !important;
   }
   
   ul, li {
     list-style-type: none !important;
    
     
   }
   
  

   .name{
     height: 100% !important;
     grid-column: 1/ 10 !important;
     grid-row: 1 / 2 !important;

   }

   .mobile-nav {
    position: absolute;
    z-index: 3;
    right: 10%;
    top: 25%;
    cursor: pointer;
    grid-column: 8/ 10 !important;
    grid-row: 1 !important;
    
   }

   .mobile{
     display: block !important;
   }

   .projects-link{
     height: 100% !important;
     grid-column: 1/ 10 !important;
     grid-row: 3;
     border-top: lightgrey solid 1px;
     border-bottom: lightgrey solid 1px;
     display: none;
     
   }

   .about-contact{
     height: 100% !important;
     grid-column: 1 / 10 !important;
     grid-row: 4;
     border-bottom: lightgrey solid 1px;
     display: none;
   }

   .contact{
     height: 100% !important;
     grid-column: 1/ 10 !important;
     grid-row: 5;
     border-bottom: lightgrey solid 1px;
     display: none ;
    
   }
   
   .name-text{
    color: #212d50 !important;
    margin-left: 41% !important;
    margin-top: 10% !important;
    width: 20%;
}
    
  }

   .project-text{
    margin: 2.5% 0 0 5% !important;
    
    
   }
   .about-text{
    margin: 2.5% 0 0 5% !important;
    
   }
   .contact-text{
    margin: 2.5% 0 0 5% !important;
    
   }
   
   .projects-font{
     line-height: 40px;
     font-size: 14px;
     font-weight: 700;
     cursor: pointer;
     letter-spacing: 3px;
   
   }
   .about-font{
     line-height: 40px;
     font-size: 14px;
     font-weight: 700;
     cursor: pointer;
     letter-spacing: 3px;
   }
   .contact-font{
     line-height: 40px;
     font-size: 14px;
     font-weight: 700;
     cursor: pointer;
     letter-spacing: 3px;
   }

   ul li {
     background: white;
     width: 100% !important;
     
   }
   
  
    .btn-line {
      width: 30px;
      height: 4px;
      margin: 0 0 5px 0;
      background: #212d50 !important;
      
    }
   

   #particles-js {
    /* background: rgb(37, 40, 52); */
    /* background: rgb(242, 240, 236); */
    /* background: #F5F4F1; */
    background: #F9F8F6;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
  
  }
  
  .container{
    position: absolute;
    width: 100%;
    /* margin-top: 25%;
    margin-left: 25%; */
  }
  
  div.intro{
    width: 100% !important;
    height: 30% !important;
    margin-top: 98% !important;
    margin-left: 5% !important;
    position: absolute !important;
    color: rgb(66, 66, 66) !important;
    /* font-size: 45px !important; */
    /* line-height: 45px !important;
    font-weight: 400 !important;
    
    letter-spacing: 0px !important; */
  }

  .portfolio{
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-auto-rows: 40% !important;
    grid-gap: 1rem !important;
    /* margin-top: 5%; */
   width: 90% !important;
    height: 100% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    
  }

  
  .portfolio-heading {
    display: flex !important;
    margin-top: 20% !important;
    flex-direction: column !important;
    align-items: center !important;
    grid-column: 1 !important;
    width: 80%;
    height: 50%;
    grid-row: 1 !important;
}
.portfolio-heading-blurb{
      /* margin-left: 10% !important; */
      text-align: justify !important;
      font-family: 'Open Sans', sans-serif !important;
      font-size: 12px !important;
      height: 100%;
      width: 88%;
}
.portfolio-heading-text {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  color: #212d50 !important;
  font-size: 15px !important;
  /* line-height: 45px; */
  letter-spacing: 0px !important;
}

  .box-1 {
    /* height: 100%; */
    grid-column: 1 !important;
    grid-row: 2 !important;
  }

  

  .box-2{
    grid-column: 1 !important;
    grid-row: 3 !important;
  }
  .box-3{
    grid-column: 1 !important;
    grid-row: 4 !important;
  }
  .box-4{
    grid-column: 1 !important;
    grid-row: 5 !important;
  }
  .box-5{
    grid-column: 1 !important;
    grid-row: 6 !important;
  }
  .box-6{
    grid-column: 1 !important;
    grid-row: 7 !important;
  }
  

  .paragraph-container{
    
    background: #F9F8F6;
    margin-top: 300% !important;
    width: 100% !important;
    height: 100% !important;
    display: flex;  
    
    align-items: center;
    
  }
  
  
  .paragraph{
    display: grid;
    grid-template-columns: 1fr !important;
    grid-auto-rows: 40% !important;
    grid-gap: 0.1rem !important;
    margin-top: 15% !important;
    margin-left: 5% !important;
    width: 80% !important;
    height: 100% !important;
    /* position: absolute; */
  
  }
  .about-blurb{
    grid-column: 1 !important;
    grid-row: 1 !important;
    width: 80% !important;
    /* margin-left: 5%; */
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    
  }
  .about-blurb-tittle {
    margin-bottom: 5% !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 bold !important;
    color: #212d50 !important;
    font-size: 30px !important;
    /* line-height: 45px; */
    letter-spacing: 3px !important;
}

.about-blurb-text {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px !important;
  color: #43454B !important;
}
  
  
  .about-picture {
    background-image: url(../assets/jhedi2_40\ 3.jpg);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    height: 400px !important;
    width: 400px !important;
    margin-top: 10% !important;
    grid-column: 1 !important;
    grid-row: 2 !important;
    display: block !important;
}





  
  
  .second-about-blurb{
    display: none !important;
    grid-column: 1 !important;
    grid-row: 3 !important;
    margin-top: 10%;
    margin-left: 0;
  }
  
  .second-about-img{
    display: none !important;
    background-image: url("../assets/IMG_2635.jpg");
    background-size: cover;
    grid-column: 1 !important;
    grid-row: 3 !important;
    margin-top: 30%;
  }
  /* .third-about-img{
    grid-column: 2 / 3;
    grid-row: 2/3;
  
  } */
                                                                                  
  
  /* .about-picture{
    background-image: url("../assets/jhedi2_40\ 3.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-right: 10%;
    grid-column: 6 / 8;
    grid-row: 1/2;
  } */

    .contact-font-last{
  
    width: 100% !important;
    height: 100% !important;
    margin-top: 50%;
    
  } 
   
  .contact-container{
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-auto-rows: 40% !important;
    grid-gap: 0.1rem !important;
    /* margin-top: 380% !important; */
    width: 93% !important;
    height: 100% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  
  
  
  div#map{
   height: 200px !important;
   width: 100% !important;
   margin-left: 0 !important;
   /* margin-right: 40% !important; */
  
  }
  
  
  .contact-page{ 
    grid-column: 1 !important;
    grid-row: 2 !important;
    margin-top: 10% !important;
  }
  
  #map{
    grid-column: 1 !important;
    grid-row: 1 !important;
    /* height: 150px !important; */
   
    /* margin-right: 30% !important; */
  }
  
  .contact-form{
    grid-column: 3 / 6;
    grid-row: 3/4;
  
  }
  .contact-page-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #212d50 !important;
    font-size: 30px !important;
    /* line-height: 45px; */
    letter-spacing: 3px !;
    
}
.contact-page-text-email  {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px !important;
  color: #43454B;
}
.email{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px !important;
  color: #43454B;
}

  div.footer {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    bottom: 0 !important;
    border-top: 1px solid lightgray !important;
    margin-top: 25% !important;
    height: 5% !important; 
    width: 100% !important;
}
.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px !important;
  color: #43454B !important;
  padding-top: 5% !important;
}

}
