#particles-js {
  background: rgb(37, 40, 52);
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;

}

a{
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #EFF2EF;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  padding: 0;

}
h2{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  padding: 0;

}
.intro{
  position: absolute;
  color: #EFF2EF;
}

.container{
  position: absolute;
  width: 100%;
  margin-top: 25%;
  margin-left: 25%;
}
.paragraph-container{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;

}

.about-picture{
  position: absolute;
  margin-top: 50px;
  height: 180px;
  width: 180px;
  border-radius: 50%;


}

.ui.basic.button{
  border-color: white !important;
  position: absolute !important;
  color: white !important;
  font-family: 'Raleway', sans-serif;
}

.ui.borderless.menu{
  height: 50px !important;
  display: flex !important;
  justify-content: right !important;
  font-size: 20px;
  margin-bottom: 0;
}

.projects{
  padding: 0;
  margin-left: 70% !important;

}

.item{
  width: 150px;
}

.paragraph{
  width: 350px;

}
.about-header{
  margin-top: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(244, 248, 250);
  display: flex;
  justify-content: center;
  border-bottom: : 2px solid !important;
  border-color: rgb(222, 222, 223);
  border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(222, 222, 223);
}
div.about-picture{
    background-image: url("../assets/jhedi2_40.jpg");
    background-size: cover;
}

.header-icons{
  position: absolute;
  margin-top: 270px;
}

.footer{
  overflow: hidden;
  margin-bottom: 0;
  margin-top: 30%;
  width: 100%;
  height: 50px;
  display: flex;
  border-top: : 2px solid;
  border-color: rgb(222, 222, 223);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0,0,0,.125);


}
.footer-icons{
  color: grey;
  position: absolute;
  height: 50px;
  width: 30%;
  margin-top: 15px;
  margin-left: 90%;
  display: flex;
  /*justify-content: flex-end !important;*/

}
.copy-right{
  color: grey;
  margin-top: 15px;
  width: 30%;
  margin-left: 5%;
}




